<!-- <input formControlName="o.Order" matInput placeholder="Order">
<input formControlName="o.Model" matInput placeholder="Model">
<input formControlName="o.Country" matInput placeholder="Country">
<input formControlName="o.Status" matInput placeholder="Status">
<input formControlName="o.Date" matInput placeholder="Date"> -->

<h3 class="container-fluid d-flex justify-content-center">{{title}} Page</h3>
<div class="container">    
   <div class="row">
      <div class="col-md-8">          
         <div class="table table-hover"></div>         
        <form #productAddForm="ngForm" (ngSubmit)="addOrder(productAddForm)">
     <div class="form-group">
     <input type="text" #name="ngModel" [(ngModel)]="model.Order" class="form-control" name="order" placeholder="Order" required>
     <div *ngIf="name.invalid&&name.dirty">EMPTY</div>
     </div>
     <br />

     <div class="form-group">
     <input type="text" #brand="ngModel" [(ngModel)]="model.Model" class="form-control" name="model" placeholder="Model" required>
     <div *ngIf="brand.invalid&&brand.dirty">EMPTY</div>
     </div>
     <br />

     <div class="form-group">
     <input type="text" #price="ngModel" [(ngModel)]="model.Date" class="form-control" name="date" placeholder="Date" required>
     <div *ngIf="price.invalid&&price.dirty">EMPTY</div>
     </div>
     <br />

     <div class="form-group">
      <input type="text" #price="ngModel" [(ngModel)]="model.Country" class="form-control" name="country" placeholder="Country" required>
      <div *ngIf="price.invalid&&price.dirty">EMPTY</div>
      </div>
      <br />

      <div class="form-group">
        <input type="text" #price="ngModel" [(ngModel)]="model.Status" class="form-control" name="status" placeholder="Status" required>
        <div *ngIf="price.invalid&&price.dirty">Boş bırakılamaz</div>
      </div>
        <br />
        
     <button type="submit" class="btn btn-primary">Add</button>
     
  </form>
</div>
</div>
</div>

